IntegrationTests.TestClasses/Service References/IntegrationTestsService/IntegrationTestsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/integrationtests/IntegrationTestsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IntegrationTests.ServiceClasses.Domain" />
  <xs:element name="GetServiceTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceTableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntegrationTests.ServiceClasses.Domain" minOccurs="0" name="GetServiceTableResult" nillable="true" type="q1:ServiceTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDInicial" type="xs:int" />
        <xs:element minOccurs="0" name="IDFinal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntegrationTests.ServiceClasses.Domain" minOccurs="0" name="GetServiceTablesResult" nillable="true" type="q2:ArrayOfServiceTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>